<div class="container">
    <div class="row-fluid margin-bottom-10">
    	<div class="headline"><h3>Edit Pet</h3></div>

<%= render 'form' %>

<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>
    </div><!--/row-fluid-->
</div><!--/container-->

