<div class="margin-bottom-30"></div>
<div class="container">
    <div class="row-fluid margin-bottom-10">
    	<div class="span8">
	    	<div class="headline"><h3>Pet Registration</h3></div>
			<%= render 'form' %>
		</div>
    </div><!--/row-fluid-->
</div><!--/container-->
