<div class="margin-bottom-30"></div>
<div class="container">
	<div class="row-fluid">
		<!-- Transform Thumbnail -->
		<div class="headline"><h3>Match results</h3></div>
		<% if !@matches.empty? %>
		<ul class="thumbnails">
			<% @matches.each do |match| %>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="assets/img/carousel/9.jpg" alt=""></div>
                        <a class="btn-more hover-effect" href="#">read more +</a>					
                    </div>
                    <h3><a href="#"><%= match.name %></a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </li>
            <% end %>
        </ul>
        <% else %>
        <p>No records were found.</p>
        <% end %>
        <!--/thumbnails-->
	</div>
</div>