<% content_for :title, "New Page" %>
<div class="container">
    <div class="row-fluid">
    	<h3>New Page</h3>
    	<div class="custom_panel margin-bottom-10">
		<%= render 'form' %>

		</div>
		<%= link_to 'Back', pages_path, :class => 'btn btn-default btn-small' %>
	</div>
</div>