
.custom_panel
{
	margin-right: 0;
	margin-left: 0;
	border: solid 1px #ddd;
	padding: 30px 50px;
}

a [class^="icon-"], a:hover [class^="icon-"], a:visited [class^="icon-"], a:active [class^="icon-"] {
	margin-right: .3em;
}

label[data-required="true"]:after { 
	color: #c00;
	content: '*';
	margin-left: .15em;
};

#Google {
	background-image: url(image_path("button-gplus.png"));
	background-repeat: no-repeat;
	background-position: 8px;
	background-size: 26px 26px;
	background-color: #fff;
	color: #dd4b39;
	font: Roboto Medium;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
	padding-left: 50px;
}
