
.custom_panel
{
	margin-right: 0;
	margin-left: 0;
	border: solid 1px #ddd;
	padding: 30px 50px;
}

a [class^="icon-"], a:hover [class^="icon-"], a:visited [class^="icon-"], a:active [class^="icon-"] {
	margin-right: .3em;
}