
.custom_panel
{
	margin-right: 0;
	margin-left: 0;
	border: solid 1px #ddd;
	padding: 30px 50px;
}

a [class^="icon-"], a:hover [class^="icon-"], a:visited [class^="icon-"], a:active [class^="icon-"] {
	margin-right: .3em;
}

label[data-required="true"]:after { 
	color: #c00;
	content: '*';
	margin-left: .15em;
};

#Google {
	background-image: url(image_path("button-gplus.png"));
	background-repeat: no-repeat;
	background-position: 8px;
	background-size: 26px 26px;
	background-color: #fff;
	color: #dd4b39;
	font: Roboto Medium;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
	padding-left: 50px;
}
.editable.editable-click {
	color: #333;
	font-size: 14px;
	border: 1px solid rgba(204,204,204,0.0);
	padding: 4px 6px;
	height: 20px;
	line-height: 20px;
	overflow:hidden;
}
.editable.editable-click:hover {
	border: 1px solid rgb(204,204,204);
	cursor: text;
	box-shadow: rgba(0,0,0,0.0745098) 0px 1px 1px 0px inset;
	padding-right: 0;
}
.editable-add-on{
	color: rgb(51,51,51);
	font-size: 14px;
	font-weight: normal;
	border: 1px solid rgb(204,204,204);
	padding: 4px 4px 4px 6px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: rgb(238,238,238);
	width: 16px;
	min-width: 16px;
	text-shadow: rgb(255,255,255) 0x 1px 0px;
	vertical-align: top;
	float:right;
	margin-top: -5px;
	margin-right: -1px;
	margin-left: .5em;
	cursor: pointer;
}
.white-out {
	opacity: 0.0;
}
.withfade {
	transition: opacity 1s ease;
}
.withfade:hover{
	opacity: 1;
}