
.custom_panel
{
	margin-right: 0;
	margin-left: 0;
	border: solid 1px #ddd;
	padding: 30px 50px;
}

a [class^="icon-"], a:hover [class^="icon-"], a:visited [class^="icon-"], a:active [class^="icon-"] {
	margin-right: .3em;
}

label[data-required="true"]:after { 
	color: #c00;
	content: '*';
	margin-left: .15em;
};

#Google {
	background-image: url(image_path("btn_google_light_normal_ios.png"));
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 42px;
	height: 46px;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
}
